body {
	background: radial-gradient(circle, rgba(255,255,255,0.95) 10%, rgba(0,0,0,0.95) 35%, rgba(255,255,255,0.95) 100%) no-repeat fixed, url(westworld-maze.png) no-repeat fixed center;
}

#header1   {
	color: white;
	text-align: center;
	text-shadow: 2px 2px gray;
	font-family: 'Carrois Gothic SC', sans-serif;
}

.season {
	text-align: center;
	color: white;
	background-color: gray;
	border:2px outset black;
	margin-right: auto;
	margin-left: auto;
	max-width: 20%;
	font-family: 'Carrois Gothic SC', sans-serif;
}

.episodes {
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Carrois Gothic SC', sans-serif;
}

#WW_logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 12%
}